body {
    background-color: black;
    color: #00FF00;
    font-family: "Px437 IBM VGA8", monospace;
    text-shadow: 0px 0px 15px rgba(0, 255, 0, 1);
}

a {
    color: #FF007F;
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 0px 20px rgba(255, 0, 127, 1);
}

@keyframes pulse {
    0% { text-shadow: 0px 0px 10px rgba(0, 255, 0, 1); }
    50% { text-shadow: 0px 0px 20px rgba(0, 255, 0, 1); }
    100% { text-shadow: 0px 0px 10px rgba(0, 255, 0, 1); }
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    animation: typing 3s steps(40, end) forwards;
}

pre {
    animation: pulse 1.5s infinite alternate;
    display: block;
    text-align: center;
    margin: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
